.line_div{
    margin-top: 3px;
}
#top_area{
    margin-bottom: 5px
}
#current-area{
    position: relative;
    display: flex;
    width: 100%;
    height: 90vh;
}
#currentVideo {
    width: 100%;
    background: black;
}
#drawCanvas{
    background: transparent;
    position: absolute;
    width: 100%;
    height: 90vh;
}
#hand_img{
    width: 20px;
}
#videoitem_area {
    width: 200px;
    position: absolute;
    right: 0px;
    top: 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#localVideo {
    width: 90%;
    border: 3px solid deepskyblue;
    background: black;
}
.videoitem {
    justify-content: center;
    display: flex;
    height: 150px;
    position: relative;
}
#remote_area {
    height: 80vh;
    width: 100%;
    flex-direction: column;
    overflow: auto;
}
.title_div {
    display: flex;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.local_title{
    background: #1669b1a3;
}
.remote_title{
    background:#dcc41ba3;
}
.title_lab {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.remoteitem {
    display: flex;
    width: 100%;
    height: 125px;
    justify-content: center;
    margin: 10px 0;
    position: relative;
}
.remotevideo {
    width: 90%;
    border: 3px solid yellow;
    background: black;
}
.hand {
    position: absolute;
    bottom: 10px;
    right: 10px;
}